# Datasource configuration
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/hw_spring_security
    username: root
    password: 12345678

    
  # JPA configuration
  jpa:
    show-sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

# Logging
logging:
  level:
    com.hillel.spring.com.hillel.spring.hillel_spring_homework_with_springboot: INFO
    org.springframework.web: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
  file:
    name: app.log
    path: /var/log/app/